workflows/dopla-base/sub-carousel.json
{
  "name": "MBM - Generar Carrusel — Dopla",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 32],
      "id": "sc-001",
      "name": "Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'openai/gpt-4.1-mini',\n  response_format: { type: 'json_object' },\n  messages: [\n    { role: 'system', content: $json.systemPrompt || '' },\n    { role: 'user', content: $json.userPrompt || '' }\n  ]\n}) }}",
        "options": { "timeout": 60000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, -64],
      "id": "sc-002",
      "name": "Estructura carrusel",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_OPENROUTER_CRED_ID",
          "name": "YOUR_OPENROUTER_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiRaw = $input.first().json;\nconst trigger = $('Trigger').first().json;\n\nconst recordId = trigger.contentId || trigger.id || '';\nconst handleIg = trigger.brand?.handle_ig || 'marca';\n\ntry {\n  const content = aiRaw.choices?.[0]?.message?.content || '{}';\n  const parsed = JSON.parse(content);\n  const slides = parsed.slides || [];\n\n  return slides.map(slide => ({\n    json: {\n      recordId,\n      tenantId: trigger.tenantId || null,\n      slide_number: slide.slide_number,\n      title: slide.title || '',\n      body_text: slide.body_text || '',\n      footer: slide.footer || `@${handleIg}`,\n      image_prompt: slide.image_prompt || '',\n    }\n  }));\n} catch (e) {\n  return [{ json: { recordId, error: 'Failed to parse: ' + e.message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1344, -64],
      "id": "sc-003",
      "name": "Parsear slides"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1568, -64],
      "id": "sc-004",
      "name": "Loop slides"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_SUPABASE_PROJECT_REF.supabase.co/rest/v1/scenes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content_id: $json.recordId, tenant_id: $json.tenantId, scene_num: $json.slide_number, type: 'slide_carrusel', text_main: $json.title, text_secondary: $json.body_text, visual_prompt: $json.image_prompt, estado: 'generando_imagen' }) }}",
        "options": { "timeout": 30000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1792, -256],
      "id": "sc-005",
      "name": "Crear escena",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_SUPABASE_CRED_ID",
          "name": "YOUR_SUPABASE_CREDENTIAL_NAME"
        }
      },
      "notes": "POST /rest/v1/scenes — reemplaza Airtable Escenas. Devuelve el registro creado con su id UUID."
    },
    {
      "parameters": {
        "jsCode": "// Extraer id de la escena recién creada (Supabase devuelve array)\nconst raw = $input.first().json;\nconst scene = Array.isArray(raw) ? raw[0] : raw;\nconst slideData = $('Loop slides').first().json;\nreturn [{ json: { ...slideData, sceneId: scene.id } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2016, -256],
      "id": "sc-extract-scene-id",
      "name": "Extraer ID escena"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.endpoint }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.bodyWithCallback.replace('{callback_url}', $execution.resumeUrl) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2240, -336],
      "id": "sc-006",
      "name": "Kie.ai imagen",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_KIE_AI_CRED_ID",
          "name": "YOUR_KIE_AI_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "limitWaitTime": true,
        "resumeAmount": 10,
        "resumeUnit": "minutes",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2688, -400],
      "id": "sc-007",
      "name": "Wait Kie.ai",
      "webhookId": "225161b4-d49c-476c-96d4-580571f10ad6"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst sceneData = $('Extraer ID escena').first().json;\nconst escenaId = sceneData.sceneId;\nconst slideData = sceneData;\n\nconst isWaitCallback = !!(input.body && typeof input.body === 'object' && input.body.code !== undefined);\nconst callback = isWaitCallback ? input.body : input;\n\nconst apiCode = callback.code;\nconst apiMsg = callback.msg || '';\nconst failMsg = (callback.data?.failMsg || '');\n\nlet imageRetryCount = 0;\ntry {\n  const prev = $('Procesar resultado').first().json;\n  if (prev.retryable) { imageRetryCount = prev.imageRetryCount || 0; }\n} catch (e) {}\n\nif (apiCode !== undefined && apiCode !== 200) {\n  const retryableCodes = [500, 501, 502, 503];\n  const retryableMessages = ['internal error', 'try again', 'server busy', 'temporarily unavailable'];\n  const isRetryable = retryableCodes.includes(apiCode) || retryableMessages.some(m => (apiMsg + ' ' + failMsg).toLowerCase().includes(m));\n  if (isRetryable && imageRetryCount < 3) {\n    return [{ json: { escenaId, imageUrl: '', estado: 'Reintentando', errorMsg: 'Retry ' + (imageRetryCount + 1) + '/3: code=' + apiCode + ' ' + apiMsg, slide_number: slideData.slide_number, fatalError: false, retryable: true, imageRetryCount: imageRetryCount + 1, recordId: slideData.recordId, tenantId: slideData.tenantId } }];\n  }\n  return [{ json: { escenaId, imageUrl: '', estado: 'Error', errorMsg: 'Kie.ai code=' + apiCode + ': ' + apiMsg, slide_number: slideData.slide_number, fatalError: true, retryable: false, recordId: slideData.recordId, tenantId: slideData.tenantId } }];\n}\n\nif (!callback.data || !callback.data.resultJson) {\n  return [{ json: { escenaId, imageUrl: '', estado: 'Error', errorMsg: isWaitCallback ? 'Callback de Kie.ai sin resultJson' : 'Timeout esperando callback de Kie.ai', slide_number: slideData.slide_number, fatalError: true, recordId: slideData.recordId, tenantId: slideData.tenantId } }];\n}\n\nlet imageUrl = '';\nlet estado = 'Listo';\nlet errorMsg = '';\ntry {\n  const resultJson = JSON.parse(callback.data.resultJson);\n  imageUrl = resultJson.resultUrls?.[0] || '';\n} catch (e) {\n  estado = 'Error';\n  errorMsg = 'Failed to parse result: ' + e.message;\n}\n\nif (!imageUrl && estado !== 'Error') {\n  estado = 'Error';\n  errorMsg = 'No image URL in response';\n}\n\nreturn [{ json: { escenaId, imageUrl, estado, errorMsg, slide_number: slideData.slide_number, fatalError: estado === 'Error', retryable: false, recordId: slideData.recordId, tenantId: slideData.tenantId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2912, -336],
      "id": "sc-008",
      "name": "Procesar resultado"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://YOUR_SUPABASE_PROJECT_REF.supabase.co/rest/v1/scenes?id=eq.{{ $json.escenaId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ image_url: $json.imageUrl, media_final: $json.imageUrl || null, estado: $json.estado, error_message: $json.errorMsg || null }) }}",
        "options": { "timeout": 30000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3808, -384],
      "id": "sc-009",
      "name": "Actualizar escena",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_SUPABASE_CRED_ID",
          "name": "YOUR_SUPABASE_CREDENTIAL_NAME"
        }
      },
      "notes": "PATCH /rest/v1/scenes?id=eq.{uuid} — reemplaza Airtable update."
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://YOUR_SUPABASE_PROJECT_REF.supabase.co/rest/v1/content?id=eq.{{ $json.recordId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ estado: 'ready' }) }}",
        "options": { "timeout": 30000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2016, -64],
      "id": "sc-013",
      "name": "Actualizar contenido padre",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_SUPABASE_CRED_ID",
          "name": "YOUR_SUPABASE_CREDENTIAL_NAME"
        }
      },
      "notes": "PATCH /rest/v1/content?id=eq.{uuid} — marca estado=ready."
    },
    {
      "parameters": {
        "jsCode": "const trigger = $('Trigger').first().json;\nconst recordId = trigger.contentId || trigger.id || '';\nreturn [{ json: { recordId, tenantId: trigger.tenantId || null } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1792, -64],
      "id": "sc-final-extract",
      "name": "Record ID padre"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "chk-estado-listo",
              "leftValue": "={{ $('Procesar resultado').first().json.estado }}",
              "rightValue": "Listo",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [4032, -160],
      "id": "sc-error-check",
      "name": "Continuar?"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://YOUR_SUPABASE_PROJECT_REF.supabase.co/rest/v1/content?id=eq.{{ $('Trigger').first().json.contentId || $('Trigger').first().json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ estado: 'error', error_message: $('Procesar resultado').first().json.errorMsg }) }}",
        "options": { "timeout": 30000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4256, -160],
      "id": "sc-parar-error",
      "name": "Guardar error padre",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_SUPABASE_CRED_ID",
          "name": "YOUR_SUPABASE_CREDENTIAL_NAME"
        }
      },
      "notes": "PATCH /rest/v1/content — marca estado=error con mensaje."
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/chat/credit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": { "timeout": 15000 }
      },
      "id": "7aa6e390-f422-4cca-aa94-99297cec7dae",
      "name": "Check saldo Kie.ai",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [448, 32],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_KIE_AI_CRED_ID",
          "name": "YOUR_KIE_AI_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "chk-saldo",
              "leftValue": "={{ Number($json.data?.credits ?? $json.data?.credit ?? $json.data?.balance ?? $json.data ?? 0) }}",
              "rightValue": "={{ Number(($('Trigger').first().json.num_slides || 5) * 12) }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "aa09e405-fb25-4884-b124-756bf08006c2",
      "name": "¿Saldo suficiente?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [672, 32]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://YOUR_SUPABASE_PROJECT_REF.supabase.co/rest/v1/content?id=eq.{{ $('Trigger').first().json.contentId || $('Trigger').first().json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ error_message: 'Saldo Kie.ai insuficiente: ' + ($('Check saldo Kie.ai').first().json.data?.credits ?? 0) + ' creditos disponibles, ' + (($('Trigger').first().json.num_slides || 5) * 12) + ' necesarios.' }) }}",
        "options": { "timeout": 30000 }
      },
      "id": "e9d3e09f-da09-4c83-8e57-5e7865259acc",
      "name": "Marcar saldo insuficiente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [896, 128],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_SUPABASE_CRED_ID",
          "name": "YOUR_SUPABASE_CREDENTIAL_NAME"
        }
      },
      "notes": "PATCH /rest/v1/content — registra error de saldo insuficiente."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "chk-kie-code",
              "leftValue": "={{ $json.code }}",
              "rightValue": 200,
              "operator": { "type": "number", "operation": "equals" }
            },
            {
              "id": "chk-kie-task",
              "leftValue": "={{ $json.data?.taskId }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b6637d71-3b1b-41cb-a9e4-d47b313d69bc",
      "name": "¿Kie.ai OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [2464, -336]
    },
    {
      "parameters": {
        "jsCode": "// En Dopla no hay tabla de modelos en Supabase todavía.\n// Usar configuración hardcoded del modelo Kie.ai Nano Banana Pro.\nconst endpoint = 'https://api.kie.ai/api/v1/jobs/createTask';\nconst bodyTemplate = JSON.stringify({\n  type: 'img2img',\n  model: 'nano-banana-pro',\n  prompt: '{prompt}',\n  aspect_ratio: '{aspect_ratio}',\n  callback_url: '{callback_url}'\n});\nreturn [{ json: { endpoint, bodyTemplate } }];"
      },
      "id": "sc-fetch-modelo",
      "name": "Fetch modelo imagen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [224, 32],
      "notes": "Reemplaza Airtable tbltpXIjQ1iDJnGox. Configuración hardcoded. Ajusta endpoint y body si cambia el modelo."
    },
    {
      "parameters": {
        "jsCode": "const modelo = $('Fetch modelo imagen').first().json;\nconst bodyTemplate = modelo['bodyTemplate'] || '';\nconst endpoint = modelo.endpoint || 'https://api.kie.ai/api/v1/jobs/createTask';\nconst prompt = $('Loop slides').first().json.image_prompt || '';\nconst aspectRatio = '1:1';\n\nconst escapedPrompt = JSON.stringify(prompt).slice(1, -1);\nconst body = bodyTemplate\n  .replace(/\\{prompt\\}/g, escapedPrompt)\n  .replace(/\\{aspect_ratio\\}/g, aspectRatio);\n\nreturn [{ json: { endpoint, bodyWithCallback: body } }];"
      },
      "id": "sc-build-body",
      "name": "Build Kie body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2016, -256]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.retryable }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true },
              "id": "condition-1776876004768-zi8bfjgys"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "retry-img-if",
      "name": "Reintentar Imagen",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [3136, -336]
    },
    {
      "parameters": {
        "resume": "timeDelay"
      },
      "id": "retry-img-wait",
      "name": "Wait retry Imagen",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [3360, -160],
      "webhookId": "3631d5e8-3030-4e03-871e-b9bd5688a0b6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ffmpeg-merger:8000/watermark-image",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ media_url: $json.imageUrl, logo_url: $('Trigger').first().json.brand?.logo_url || '', opacity: 0.35, position: 'bottom_right', logo_scale: 0.12, padding: 40, folder: 'mbm-reels' }) }}",
        "options": { "timeout": 60000 }
      },
      "id": "wm-sc-http",
      "name": "Watermark imagen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3360, -384],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const original = $('Procesar resultado').first().json;\nconst wm = $input.first().json;\nconst imageUrl = (wm.success && wm.url) ? wm.url : (original.imageUrl || '');\nreturn [{ json: {\n  escenaId: original.escenaId,\n  imageUrl,\n  estado: original.estado,\n  errorMsg: original.errorMsg || '',\n  slide_number: original.slide_number,\n  fatalError: original.fatalError || false,\n  recordId: original.recordId,\n  tenantId: original.tenantId\n} }];"
      },
      "id": "wm-sc-merge",
      "name": "Merge watermark",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3584, -384]
    },
    {
      "parameters": {
        "jsCode": "const brand = $('Trigger').first().json.brand || {};\nconst style = $('Trigger').first().json.style_prompts || {};\nconst trigger = $('Trigger').first().json;\n\nlet systemPrompt = style.prompt_sistema || '';\nsystemPrompt = systemPrompt\n  .replace(/{brand_name}/g, brand.nombre || '')\n  .replace(/{handle_ig}/g, brand.handle_ig || '')\n  .replace(/{tono}/g, brand.tono || '')\n  .replace(/{audiencia}/g, brand.audiencia || '')\n  .replace(/{colores}/g, brand.colores || '')\n  .replace(/{estilo_visual}/g, brand.estilo_visual || '')\n  .replace(/{reglas_lenguaje}/g, brand.reglas_lenguaje || '');\n\nif (!systemPrompt) {\n  systemPrompt = `Eres un Art Director especializado en carruseles de Instagram para ${brand.nombre || 'la marca'}. Colores: ${brand.colores}. Estilo: ${brand.estilo_visual}. IDIOMA: textos en ESPANOL, image_prompt en ingles. SIEMPRE responde en JSON valido.`;\n}\n\nconst numSlides = String(trigger.num_slides || 5);\n\nlet userPrompt = style.prompt_usuario || '';\nuserPrompt = userPrompt\n  .replace(/{mi_hook}/g, trigger.mi_hook || '')\n  .replace(/{mi_caption}/g, trigger.mi_caption || '')\n  .replace(/{analisis}/g, trigger.analisis || '')\n  .replace(/{hook_original}/g, trigger.hook_original || '')\n  .replace(/{num_slides}/g, numSlides)\n  .replace(/{brand_name}/g, brand.nombre || '')\n  .replace(/{handle_ig}/g, brand.handle_ig || '')\n  .replace(/{colores}/g, brand.colores || '');\n\nif (!userPrompt) {\n  userPrompt = `Genera un carrusel de ${numSlides} slides.\\nHOOK: ${trigger.mi_hook || ''}\\nCAPTION: ${trigger.mi_caption || ''}\\nTEMA: ${trigger.hook_original || ''}\\nCONTEXTO: ${trigger.analisis || ''}\\n\\nJSON con slides[] incluyendo title, body_text, footer, image_prompt.`;\n}\n\nreturn [{ json: { ...trigger, systemPrompt, userPrompt } }];"
      },
      "id": "prep-prompts-sc",
      "name": "Preparar prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [896, -64]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_SAAS_URL/api/n8n/callback",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tenantId: $('Trigger').first().json.tenantId, contentId: $('Trigger').first().json.contentId || $('Trigger').first().json.id, status: 'ready' }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-dopla-signature",
              "value": "={{ (() => { const crypto = require('crypto'); const body = JSON.stringify({ tenantId: $('Trigger').first().json.tenantId, contentId: $('Trigger').first().json.contentId || $('Trigger').first().json.id, status: 'ready' }); return crypto.createHmac('sha256', 'dopla-n8n-secret-2026').update(body).digest('hex'); })() }}"
            }
          ]
        },
        "options": { "timeout": 15000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2464, -64],
      "id": "sc-callback-ready",
      "name": "Callback Dopla (ready)",
      "continueOnFail": true,
      "notes": "POST YOUR_SAAS_URL/api/n8n/callback con HMAC-SHA256. status=ready."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_SAAS_URL/api/n8n/callback",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tenantId: $('Trigger').first().json.tenantId, contentId: $('Trigger').first().json.contentId || $('Trigger').first().json.id, status: 'error', errorMessage: $('Procesar resultado').first().json.errorMsg }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-dopla-signature",
              "value": "={{ (() => { const crypto = require('crypto'); const body = JSON.stringify({ tenantId: $('Trigger').first().json.tenantId, contentId: $('Trigger').first().json.contentId || $('Trigger').first().json.id, status: 'error', errorMessage: $('Procesar resultado').first().json.errorMsg }); return crypto.createHmac('sha256', 'dopla-n8n-secret-2026').update(body).digest('hex'); })() }}"
            }
          ]
        },
        "options": { "timeout": 15000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4480, -160],
      "id": "sc-callback-error",
      "name": "Callback Dopla (error)",
      "continueOnFail": true,
      "notes": "POST YOUR_SAAS_URL/api/n8n/callback con HMAC-SHA256. status=error."
    },
    {
      "parameters": {
        "content": "## SUB: Generar Carrusel — Dopla\n\n### Cambios vs original (Airtable → Supabase)\n- Crear escena: POST /rest/v1/scenes\n- Actualizar escena: PATCH /rest/v1/scenes?id=eq.{uuid}\n- Actualizar padre OK: PATCH /rest/v1/content estado=ready\n- Actualizar padre Error: PATCH /rest/v1/content estado=error\n- Fetch modelo: nodo Code hardcoded (no más tabla Airtable)\n- Saldo insuficiente: PATCH /rest/v1/content error_message\n- Callback Dopla con HMAC al final (ready y error)\n\n### Nota trigger\nEl trigger recibe contentId (UUID) en vez de recordId (recXXX).\nCampo num_slides viene como número directo (no fields['Número de slides']).",
        "height": 380,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-416, -32],
      "id": "sc-note",
      "name": "Instrucciones — Dopla"
    }
  ],
  "pinData": {},
  "connections": {
    "Estructura carrusel": {
      "main": [[{ "node": "Parsear slides", "type": "main", "index": 0 }]]
    },
    "Parsear slides": {
      "main": [[{ "node": "Loop slides", "type": "main", "index": 0 }]]
    },
    "Loop slides": {
      "main": [
        [{ "node": "Record ID padre", "type": "main", "index": 0 }],
        [{ "node": "Crear escena", "type": "main", "index": 0 }]
      ]
    },
    "Crear escena": {
      "main": [[{ "node": "Extraer ID escena", "type": "main", "index": 0 }]]
    },
    "Extraer ID escena": {
      "main": [[{ "node": "Build Kie body", "type": "main", "index": 0 }]]
    },
    "Wait Kie.ai": {
      "main": [[{ "node": "Procesar resultado", "type": "main", "index": 0 }]]
    },
    "Actualizar escena": {
      "main": [[{ "node": "Continuar?", "type": "main", "index": 0 }]]
    },
    "Record ID padre": {
      "main": [[{ "node": "Actualizar contenido padre", "type": "main", "index": 0 }]]
    },
    "Actualizar contenido padre": {
      "main": [[{ "node": "Callback Dopla (ready)", "type": "main", "index": 0 }]]
    },
    "Continuar?": {
      "main": [
        [{ "node": "Loop slides", "type": "main", "index": 0 }],
        [{ "node": "Guardar error padre", "type": "main", "index": 0 }]
      ]
    },
    "Guardar error padre": {
      "main": [[{ "node": "Callback Dopla (error)", "type": "main", "index": 0 }]]
    },
    "Check saldo Kie.ai": {
      "main": [[{ "node": "¿Saldo suficiente?", "type": "main", "index": 0 }]]
    },
    "¿Saldo suficiente?": {
      "main": [
        [{ "node": "Preparar prompts", "type": "main", "index": 0 }],
        [{ "node": "Marcar saldo insuficiente", "type": "main", "index": 0 }]
      ]
    },
    "Kie.ai imagen": {
      "main": [[{ "node": "¿Kie.ai OK?", "type": "main", "index": 0 }]]
    },
    "¿Kie.ai OK?": {
      "main": [
        [{ "node": "Wait Kie.ai", "type": "main", "index": 0 }],
        [{ "node": "Procesar resultado", "type": "main", "index": 0 }]
      ]
    },
    "Trigger": {
      "main": [[{ "node": "Fetch modelo imagen", "type": "main", "index": 0 }]]
    },
    "Fetch modelo imagen": {
      "main": [[{ "node": "Check saldo Kie.ai", "type": "main", "index": 0 }]]
    },
    "Build Kie body": {
      "main": [[{ "node": "Kie.ai imagen", "type": "main", "index": 0 }]]
    },
    "Procesar resultado": {
      "main": [[{ "node": "Reintentar Imagen", "type": "main", "index": 0 }]]
    },
    "Reintentar Imagen": {
      "main": [
        [{ "node": "Wait retry Imagen", "type": "main", "index": 0 }],
        [{ "node": "Watermark imagen", "type": "main", "index": 0 }]
      ]
    },
    "Wait retry Imagen": {
      "main": [[{ "node": "Build Kie body", "type": "main", "index": 0 }]]
    },
    "Watermark imagen": {
      "main": [[{ "node": "Merge watermark", "type": "main", "index": 0 }]]
    },
    "Merge watermark": {
      "main": [[{ "node": "Actualizar escena", "type": "main", "index": 0 }]]
    },
    "Preparar prompts": {
      "main": [[{ "node": "Estructura carrusel", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "dopla-carrusel-v1",
  "meta": { "instanceId": "dopla" },
  "id": "o0k8GczzmRAN4XHp",
  "tags": ["dopla"]
}
