workflows/dopla-base/sub-reel.json
{
  "name": "MBM - Generar Reel — Dopla",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 656],
      "id": "sr-001",
      "name": "Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'openai/gpt-4.1-mini',\n  response_format: { type: 'json_object' },\n  messages: [\n    { role: 'system', content: $json.systemPrompt || '' },\n    { role: 'user', content: $json.userPrompt || '' }\n  ]\n}) }}",
        "options": { "timeout": 60000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 656],
      "id": "sr-002",
      "name": "1. IA: guion del reel",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_OPENROUTER_CRED_ID",
          "name": "YOUR_OPENROUTER_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiRaw = $('1. IA: guion del reel').first().json;\nconst trigger = $('Trigger').first().json;\nconst recordId = trigger.contentId || trigger.id || '';\nconst referenceImageUrl = $input.first().json.referenceImageUrl || '';\n\ntry {\n  const content = aiRaw.choices?.[0]?.message?.content || '{}';\n  const parsed = JSON.parse(content);\n  const clips = parsed.clips || [];\n\n  return clips.map(clip => ({\n    json: {\n      recordId,\n      tenantId: trigger.tenantId || null,\n      referenceImageUrl,\n      clip_number: clip.clip_number,\n      texto_en_pantalla: clip.texto_en_pantalla || '',\n      narracion: clip.narracion || '',\n      video_prompt: clip.video_prompt || ''\n    }\n  }));\n} catch (e) {\n  return [{ json: { recordId, tenantId: $('Trigger').first().json.tenantId, referenceImageUrl, error: 'Failed to parse: ' + e.message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2464, 656],
      "id": "sr-003",
      "name": "2. Parsear clips"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [2688, 656],
      "id": "sr2-loop",
      "name": "3. Loop por clip"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_SUPABASE_PROJECT_REF.supabase.co/rest/v1/scenes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content_id: $json.recordId, tenant_id: $json.tenantId, scene_num: $json.clip_number, type: 'clip_reel', text_main: $json.texto_en_pantalla, narration: $json.narracion, visual_prompt: $json.video_prompt, estado: 'generando_video' }) }}",
        "options": { "timeout": 30000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2912, 80],
      "id": "sr2-crear",
      "name": "4. Crear escena en Supabase",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_SUPABASE_CRED_ID",
          "name": "YOUR_SUPABASE_CREDENTIAL_NAME"
        }
      },
      "notes": "POST /rest/v1/scenes — reemplaza Airtable Escenas."
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst scene = Array.isArray(raw) ? raw[0] : raw;\nconst clipData = $('3. Loop por clip').first().json;\nreturn [{ json: { ...clipData, sceneId: scene.id } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3136, 80],
      "id": "sr-extract-scene",
      "name": "Extraer ID escena"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.endpoint }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.bodyWithCallback.replace('{callback_url}', $execution.resumeUrl) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3360, 32],
      "id": "sr2-veo",
      "name": "5. Kie.ai Veo 3.1 (video)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_KIE_AI_CRED_ID",
          "name": "YOUR_KIE_AI_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "limitWaitTime": true,
        "resumeAmount": 20,
        "resumeUnit": "minutes",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [3808, -48],
      "id": "sr2-wait-video",
      "name": "6. Wait video callback",
      "webhookId": "a81f5cc1-74f9-4c89-a8e8-bc313e823aca"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst sceneData = $('Extraer ID escena').first().json;\nconst escenaId = sceneData.sceneId;\nconst clipData = sceneData;\n\nconst isWaitCallback = !!(input.body && typeof input.body === 'object' && (input.body.code !== undefined || input.body.data !== undefined));\nconst callback = isWaitCallback ? input.body : input;\n\nconst apiCode = callback.code;\nconst apiMsg = callback.msg || '';\nconst failMsg = callback.data?.failMsg || '';\n\nlet videoRetryCount = 0;\ntry {\n  const prev = $('7. Procesar video URL').first().json;\n  if (prev.retryable && prev.escenaId === escenaId) {\n    videoRetryCount = prev.videoRetryCount || 0;\n  }\n} catch (e) {}\n\nconst retryableCodes = [500, 501, 502, 503];\nconst retryableMessages = ['internal error', 'try again', 'server busy', 'temporarily unavailable'];\nconst isRetryableError = retryableCodes.includes(apiCode) || retryableMessages.some(m => (apiMsg + ' ' + failMsg).toLowerCase().includes(m));\n\nif (apiCode !== undefined && apiCode !== 200 && isRetryableError && videoRetryCount < 3) {\n  return [{ json: { escenaId, videoUrl: '', estado: 'Reintentando', retryable: true, videoRetryCount: videoRetryCount + 1, errorMsg: 'Retry ' + (videoRetryCount + 1) + '/3: code=' + apiCode + ' ' + apiMsg, narracion: clipData.narracion || '', fatalError: false, recordId: clipData.recordId, tenantId: clipData.tenantId } }];\n}\n\nif (apiCode !== undefined && apiCode !== 200) {\n  return [{ json: { escenaId, videoUrl: '', estado: 'Error', retryable: false, videoRetryCount, errorMsg: 'Kie.ai Veo code=' + apiCode + ': ' + apiMsg, narracion: clipData.narracion || '', fatalError: true, recordId: clipData.recordId, tenantId: clipData.tenantId } }];\n}\n\nlet videoUrl = '';\nlet estado = 'Generando audio';\nlet errorMsg = '';\ntry {\n  const info = callback.data?.info;\n  if (info && info.resultUrls && info.resultUrls[0]) { videoUrl = info.resultUrls[0]; }\n  else if (info && info.result_urls && info.result_urls[0]) { videoUrl = info.result_urls[0]; }\n  else if (callback.data?.resultJson) { const rj = JSON.parse(callback.data.resultJson); videoUrl = rj.resultUrls?.[0] || ''; }\n} catch (e) { estado = 'Error'; errorMsg = 'Failed to parse callback: ' + e.message; }\n\nif (!videoUrl && estado !== 'Error') { estado = 'Error'; errorMsg = isWaitCallback ? 'Callback de Kie.ai Veo sin video URL' : 'Timeout esperando callback de Kie.ai Veo (>20min).'; }\n\nreturn [{ json: { escenaId, videoUrl, estado, errorMsg, narracion: clipData.narracion || '', fatalError: estado === 'Error', recordId: clipData.recordId, tenantId: clipData.tenantId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4032, 32],
      "id": "sr2-proc-video",
      "name": "7. Procesar video URL"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://YOUR_SUPABASE_PROJECT_REF.supabase.co/rest/v1/scenes?id=eq.{{ $json.escenaId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ video_url: $json.videoUrl, estado: $json.estado, error_message: $json.errorMsg || null }) }}",
        "options": { "timeout": 30000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4480, 176],
      "id": "sr2-guardar-video",
      "name": "8. Guardar video en escena",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_SUPABASE_CRED_ID",
          "name": "YOUR_SUPABASE_CREDENTIAL_NAME"
        }
      },
      "notes": "PATCH /rest/v1/scenes?id=eq.{uuid} — guarda video_url."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "chk",
              "leftValue": "={{ $('7. Procesar video URL').first().json.estado }}",
              "rightValue": "Error",
              "operator": { "type": "string", "operation": "notEquals", "name": "filter.operator.notEquals" }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [4704, 176],
      "id": "sr2-video-ok",
      "name": "9. ¿Video OK?"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://YOUR_SUPABASE_PROJECT_REF.supabase.co/rest/v1/scenes?id=eq.{{ $json.escenaId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ audio_url: $json.audioUrl, estado: $json.estado }) }}",
        "options": { "timeout": 30000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5600, 80],
      "id": "sr2-guardar-audio",
      "name": "13. Guardar audio en escena",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_SUPABASE_CRED_ID",
          "name": "YOUR_SUPABASE_CREDENTIAL_NAME"
        }
      },
      "notes": "PATCH /rest/v1/scenes — guarda audio_url."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ffmpeg-merger:8000/merge",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ video_url: $('10c. Extraer URL audio').first().json.videoUrl, audio_url: $('10c. Extraer URL audio').first().json.audioUrl, bg_volume: 0.12, vo_volume: 1.0, fade_out: 0.5, folder: 'mbm-reels' }) }}",
        "options": { "timeout": 180000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [6048, 80],
      "id": "sr2-ffmpeg",
      "name": "14. FFmpeg merge (video+voz)"
    },
    {
      "parameters": {
        "jsCode": "const mergeResult = $input.first().json;\nconst escenaId = $('10c. Extraer URL audio').first().json.escenaId;\nconst timestamps = $('10c. Extraer URL audio').first().json.timestamps || null;\n\nlet estado = 'Listo';\nconst attachments = [];\nlet mergedUrl = '';\n\nif (mergeResult.success && mergeResult.url) {\n  mergedUrl = mergeResult.url;\n  attachments.push({ url: mergedUrl });\n} else {\n  estado = 'Error';\n  const videoUrl = $('10c. Extraer URL audio').first().json.videoUrl;\n  if (videoUrl) attachments.push({ url: videoUrl });\n}\n\nreturn [{ json: { escenaId, estado, attachments, mergedUrl, timestamps } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6272, 80],
      "id": "sr2-proc-merge",
      "name": "15. Procesar merge"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://YOUR_SUPABASE_PROJECT_REF.supabase.co/rest/v1/scenes?id=eq.{{ $json.escenaId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ estado: $json.estado, media_final: ($json.attachments && $json.attachments[0]) ? $json.attachments[0].url : null }) }}",
        "options": { "timeout": 30000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [6496, 512],
      "id": "sr2-guardar-escena",
      "name": "16. Guardar clip mergeado",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_SUPABASE_CRED_ID",
          "name": "YOUR_SUPABASE_CREDENTIAL_NAME"
        }
      },
      "notes": "PATCH /rest/v1/scenes — guarda media_final (clip mergeado)."
    },
    {
      "parameters": {
        "jsCode": "const trigger = $('Trigger').first().json;\nconst recordId = trigger.contentId || trigger.id || '';\nconst tenantId = trigger.tenantId || null;\n\nconst items = $input.all();\nconst mergedUrls = [];\n\nfor (const item of items) {\n  const mediaFinal = item.json.fields?.['media_final'] || item.json['media_final'] || null;\n  if (mediaFinal) mergedUrls.push(mediaFinal);\n}\n\nconst clips = $('2. Parsear clips').all();\nconst fullTranscript = clips\n  .map(item => item.json.narracion || '')\n  .filter(Boolean)\n  .join(' ');\n\nreturn [{ json: { recordId, tenantId, mergedUrls, fullTranscript, totalClips: items.length, okClips: mergedUrls.length } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2912, 608],
      "id": "sr2-collect",
      "name": "17. Juntar clips mergeados"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ffmpeg-merger:8000/concat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const urls = $json.mergedUrls || [];\n  if (urls.length < 2) {\n    return JSON.stringify({ video_urls: urls.length === 1 ? [urls[0], urls[0]] : [], folder: 'mbm-reels' });\n  }\n  return JSON.stringify({ video_urls: urls, folder: 'mbm-reels' });\n})() }}",
        "options": { "timeout": 300000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3136, 608],
      "id": "sr2-concat",
      "name": "18. FFmpeg concat (todos clips)"
    },
    {
      "parameters": {
        "jsCode": "const concatResult = $input.first().json;\nconst juntarData = $('17. Juntar clips mergeados').first().json;\nconst recordId = juntarData.recordId;\nconst tenantId = juntarData.tenantId;\nconst fullTranscript = juntarData.fullTranscript || '';\n\nconst reelAttachments = [];\nlet reelUrl = '';\nlet estado = 'ready';\n\nif (concatResult.success && concatResult.url) {\n  reelUrl = concatResult.url;\n  reelAttachments.push({ url: reelUrl });\n} else {\n  estado = 'error';\n}\n\nreturn [{ json: { recordId, tenantId, reelAttachments, reelUrl, fullTranscript, estado } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3360, 608],
      "id": "sr2-prep-parent",
      "name": "19. Preparar reel final"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://YOUR_SUPABASE_PROJECT_REF.supabase.co/rest/v1/content?id=eq.{{ $json.recordId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ media_final: $json.reelUrl || null, estado: 'generando' }) }}",
        "options": { "timeout": 30000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3584, 608],
      "id": "sr2-final",
      "name": "20. Guardar reel SIN subs",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_SUPABASE_CRED_ID",
          "name": "YOUR_SUPABASE_CREDENTIAL_NAME"
        }
      },
      "notes": "PATCH /rest/v1/content — guarda media_final (reel sin subs)."
    },
    {
      "parameters": {
        "jsCode": "const trigger = $('Trigger').first().json;\nconst recordId = trigger.contentId || trigger.id || '';\nconst tenantId = trigger.tenantId || null;\nconst errorMsg = $('7. Procesar video URL').first().json.errorMsg || 'Error desconocido en generacion de video';\nreturn [{ json: { recordId, tenantId, errorMsg } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4928, 272],
      "id": "sr-parar-error",
      "name": "Error: preparar"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://YOUR_SUPABASE_PROJECT_REF.supabase.co/rest/v1/content?id=eq.{{ $json.recordId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ estado: 'error', error_message: $json.errorMsg }) }}",
        "options": { "timeout": 30000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5152, 272],
      "id": "sr-guardar-error-padre",
      "name": "Error: marcar padre",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_SUPABASE_CRED_ID",
          "name": "YOUR_SUPABASE_CREDENTIAL_NAME"
        }
      },
      "notes": "PATCH /rest/v1/content — estado=error."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.zapcap.ai/videos/url",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $('19. Preparar reel final').first().json.reelUrl }) }}",
        "options": { "timeout": 60000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3808, 608],
      "id": "sr-zc-upload",
      "name": "21. ZapCap upload",
      "credentials": {
        "httpHeaderAuth": {
          "id": "9kGQxCNUv7mcZUag",
          "name": "Header Auth ZapCap"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.zapcap.ai/videos/{{ $json.videoId }}/task",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.zapcapBody.replace('{callback_url}', $execution.resumeUrl) }}",
        "options": { "timeout": 60000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4256, 512],
      "id": "sr-zc-task",
      "name": "22. ZapCap task (Hormozi 4)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "9kGQxCNUv7mcZUag",
          "name": "Header Auth ZapCap"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "limitWaitTime": true,
        "resumeAmount": 15,
        "resumeUnit": "minutes",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [4480, 512],
      "id": "sr-zc-wait",
      "name": "23. Wait ZapCap callback",
      "webhookId": "26fdc2bf-c0d9-4ac7-bd9c-2788c5ea666f"
    },
    {
      "parameters": {
        "jsCode": "const callback = $input.first().json;\nconst body = callback.body || callback;\n\nconst event = (body.event || '').toLowerCase();\nconst renderUrl = body.renderUrl || body.downloadUrl || '';\nconst errorMsg = body.error || body.errorMessage || body.message || '';\n\nlet estado = 'ready';\nlet attachments = [];\nlet error = '';\n\nif (event === 'completed' && renderUrl) {\n  attachments = [{ url: renderUrl }];\n} else {\n  estado = 'error';\n  error = errorMsg || `ZapCap fallo (event=${event || 'desconocido'})`;\n}\n\nlet zapcapRetryCount = 0;\ntry {\n  const prev = $('24. Procesar ZapCap callback').first().json;\n  if (prev.retryable) { zapcapRetryCount = prev.zapcapRetryCount || 0; }\n} catch (e) {}\n\nconst retryableMessages = ['internal error', 'server error', 'try again', 'server busy', 'temporarily unavailable', 'timeout', '500', '502', '503'];\nconst isRetryableError = estado === 'error' && zapcapRetryCount < 3 && retryableMessages.some(m => error.toLowerCase().includes(m));\n\nif (isRetryableError) {\n  return [{ json: { estado: 'Reintentando', attachments: [], error: 'Retry ' + (zapcapRetryCount + 1) + '/3: ' + error, renderUrl: '', retryable: true, zapcapRetryCount: zapcapRetryCount + 1 } }];\n}\n\nreturn [{ json: { estado, attachments, error, renderUrl, retryable: false } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4704, 512],
      "id": "sr-zc-process",
      "name": "24. Procesar ZapCap callback"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://YOUR_SUPABASE_PROJECT_REF.supabase.co/rest/v1/content?id=eq.{{ $('19. Preparar reel final').first().json.recordId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ media_with_subs: ($json.attachments && $json.attachments[0]) ? $json.attachments[0].url : null, estado: $json.estado, error_message: $json.error || null }) }}",
        "options": { "timeout": 30000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5600, 464],
      "id": "sr-zc-save",
      "name": "25. Guardar reel CON subs",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_SUPABASE_CRED_ID",
          "name": "YOUR_SUPABASE_CREDENTIAL_NAME"
        }
      },
      "notes": "PATCH /rest/v1/content — guarda media_with_subs."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_SAAS_URL/api/n8n/callback",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tenantId: $('19. Preparar reel final').first().json.tenantId, contentId: $('19. Preparar reel final').first().json.recordId, status: $('24. Procesar ZapCap callback').first().json.estado, mediaUrl: ($('24. Procesar ZapCap callback').first().json.attachments || [])[0]?.url, errorMessage: $('24. Procesar ZapCap callback').first().json.error || null }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-dopla-signature",
              "value": "={{ (() => { const crypto = require('crypto'); const body = JSON.stringify({ tenantId: $('19. Preparar reel final').first().json.tenantId, contentId: $('19. Preparar reel final').first().json.recordId, status: $('24. Procesar ZapCap callback').first().json.estado }); return crypto.createHmac('sha256', 'dopla-n8n-secret-2026').update(body).digest('hex'); })() }}"
            }
          ]
        },
        "options": { "timeout": 15000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5824, 464],
      "id": "sr-callback-final",
      "name": "Callback Dopla (final)",
      "continueOnFail": true,
      "notes": "POST YOUR_SAAS_URL/api/n8n/callback con HMAC. status=ready o error según ZapCap."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_SAAS_URL/api/n8n/callback",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tenantId: $json.tenantId, contentId: $json.recordId, status: 'error', errorMessage: $json.errorMsg }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-dopla-signature",
              "value": "={{ (() => { const crypto = require('crypto'); const body = JSON.stringify({ tenantId: $('Error: preparar').first().json.tenantId, contentId: $('Error: preparar').first().json.recordId, status: 'error', errorMessage: $('Error: preparar').first().json.errorMsg }); return crypto.createHmac('sha256', 'dopla-n8n-secret-2026').update(body).digest('hex'); })() }}"
            }
          ]
        },
        "options": { "timeout": 15000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5376, 272],
      "id": "sr-callback-error",
      "name": "Callback Dopla (error clip)",
      "continueOnFail": true,
      "notes": "Callback a Dopla cuando falla generación de video clip."
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/chat/credit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": { "timeout": 15000 }
      },
      "id": "103a00ca-442d-4d06-9dbb-fee5490284b6",
      "name": "Check saldo Kie.ai",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [448, 752],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_KIE_AI_CRED_ID",
          "name": "YOUR_KIE_AI_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const brand = $('Trigger').first().json.brand || {};\nconst style = $('Trigger').first().json.style_prompts || {};\nconst trigger = $('Trigger').first().json;\n\nlet systemPrompt = style.prompt_sistema || '';\nsystemPrompt = systemPrompt\n  .replace(/{brand_name}/g, brand.nombre || '')\n  .replace(/{handle_ig}/g, brand.handle_ig || '')\n  .replace(/{tono}/g, brand.tono || '')\n  .replace(/{audiencia}/g, brand.audiencia || '')\n  .replace(/{colores}/g, brand.colores || '')\n  .replace(/{estilo_visual}/g, brand.estilo_visual || '')\n  .replace(/{reglas_lenguaje}/g, brand.reglas_lenguaje || '');\n\nif (!systemPrompt) {\n  systemPrompt = `Eres un director de contenido para reels de Instagram de ${brand.nombre || 'la marca'}. Colores: ${brand.colores}. IDIOMA: textos en ESPANOL, video_prompt en ingles. SIEMPRE responde en JSON valido.`;\n}\n\nlet userPrompt = style.prompt_usuario || '';\nuserPrompt = userPrompt\n  .replace(/{mi_hook}/g, trigger.mi_hook || '')\n  .replace(/{mi_caption}/g, trigger.mi_caption || '')\n  .replace(/{analisis}/g, trigger.analisis || '')\n  .replace(/{hook_original}/g, trigger.hook_original || '')\n  .replace(/{brand_name}/g, brand.nombre || '')\n  .replace(/{handle_ig}/g, brand.handle_ig || '')\n  .replace(/{colores}/g, brand.colores || '');\n\nif (!userPrompt) {\n  userPrompt = `Genera un guion de reel con 3-5 clips de 8 segundos.\\nHOOK: ${trigger.mi_hook || ''}\\nCAPTION: ${trigger.mi_caption || ''}\\nCONTEXTO: ${trigger.analisis || ''}\\n\\nJSON con clips[]: clip_number, texto_en_pantalla, narracion, video_prompt.`;\n}\n\nreturn [{ json: { ...trigger, systemPrompt, userPrompt } }];"
      },
      "id": "prep-prompts-sr",
      "name": "Preparar prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [896, 656]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "chk-saldo-reel",
              "leftValue": "={{ Number($json.data?.credits ?? $json.data?.credit ?? $json.data?.balance ?? $json.data ?? 0) }}",
              "rightValue": 50,
              "operator": { "type": "number", "operation": "gte" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "chk-saldo-reel-if",
      "name": "¿Saldo suficiente?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [672, 752]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://YOUR_SUPABASE_PROJECT_REF.supabase.co/rest/v1/content?id=eq.{{ $('Trigger').first().json.contentId || $('Trigger').first().json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ error_message: 'Saldo Kie.ai insuficiente para generar reel.' }) }}",
        "options": { "timeout": 30000 }
      },
      "id": "marcar-saldo-insuf-reel",
      "name": "Marcar saldo insuficiente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [896, 848],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_SUPABASE_CRED_ID",
          "name": "YOUR_SUPABASE_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build Veo body\nconst endpoint = 'https://api.kie.ai/api/v1/jobs/createTask';\nconst prompt = $('3. Loop por clip').first().json.video_prompt || '';\nconst referenceImageUrl = $('3. Loop por clip').first().json.referenceImageUrl || '';\n\nconst bodyObj = {\n  type: 'text2video',\n  model: 'veo-3.1',\n  prompt: prompt,\n  aspect_ratio: '9:16',\n  duration: 8,\n  callback_url: '{callback_url}'\n};\n\nif (referenceImageUrl) { bodyObj.reference_image = referenceImageUrl; bodyObj.type = 'img2video'; }\n\nreturn [{ json: { endpoint, bodyWithCallback: JSON.stringify(bodyObj) } }];"
      },
      "id": "sr-build-veo-body",
      "name": "Build Veo body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3136, 32]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.retryable }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true },
              "id": "condition-retry-video"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "retry-video-if",
      "name": "Reintentar Video",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [4256, 32]
    },
    {
      "parameters": {
        "resume": "timeDelay"
      },
      "id": "retry-video-wait",
      "name": "Wait retry Video",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [4480, -160],
      "webhookId": "retry-video-reel-001"
    },
    {
      "parameters": {
        "jsCode": "// Build ElevenLabs TTS body via Kie.ai\nconst narracion = $('7. Procesar video URL').first().json.narracion || '';\nconst videoUrl = $('7. Procesar video URL').first().json.videoUrl || '';\nconst escenaId = $('7. Procesar video URL').first().json.escenaId || '';\nconst recordId = $('7. Procesar video URL').first().json.recordId || '';\nconst tenantId = $('7. Procesar video URL').first().json.tenantId || null;\n\nconst endpoint = 'https://api.kie.ai/api/v1/jobs/createTask';\nconst bodyObj = {\n  type: 'tts',\n  model: 'eleven_multilingual_v2',\n  text: narracion,\n  voice_id: 'Roger',\n  callback_url: '{callback_url}'\n};\n\nreturn [{ json: { endpoint, bodyWithCallback: JSON.stringify(bodyObj), videoUrl, escenaId, recordId, tenantId } }];"
      },
      "id": "sr2-build-tts",
      "name": "10. Build TTS body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4928, 80]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.endpoint }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.bodyWithCallback.replace('{callback_url}', $execution.resumeUrl) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5152, 80],
      "id": "sr2-elevenlabs",
      "name": "11. Kie.ai ElevenLabs TTS",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_KIE_AI_CRED_ID",
          "name": "YOUR_KIE_AI_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "limitWaitTime": true,
        "resumeAmount": 10,
        "resumeUnit": "minutes",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [5376, 80],
      "id": "sr2-wait-audio",
      "name": "12. Wait audio callback",
      "webhookId": "audio-reel-wait-001"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst bodyData = $('10. Build TTS body').first().json;\n\nconst isWaitCallback = !!(input.body && typeof input.body === 'object');\nconst callback = isWaitCallback ? input.body : input;\n\nlet audioUrl = '';\ntry {\n  const resultJson = JSON.parse(callback.data?.resultJson || '{}');\n  audioUrl = resultJson.resultUrls?.[0] || resultJson.audioUrl || '';\n} catch (e) {}\n\nreturn [{ json: { escenaId: bodyData.escenaId, audioUrl, estado: audioUrl ? 'Merging' : 'Error', videoUrl: bodyData.videoUrl, recordId: bodyData.recordId, tenantId: bodyData.tenantId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5600, 80],
      "id": "sr2-proc-audio",
      "name": "10c. Extraer URL audio"
    },
    {
      "parameters": {
        "jsCode": "const brand = $('Trigger').first().json.brand || {};\nconst videoId = $('21. ZapCap upload').first().json.id;\n\nconst body = {\n  templateId: 'e659ee0c-53bb-497e-869c-90f8ec0a921f',\n  autoApprove: true,\n  language: 'es',\n  renderOptions: {\n    subsOptions: { emoji: false, animation: true, emphasizeKeywords: true, punctuation: true, displayWords: 2 },\n    styleOptions: { top: 78, fontUppercase: true, fontSize: 32, fontWeight: 900 },\n    highlightOptions: {}\n  },\n  notification: { type: 'webhook', notificationsFor: ['render'], recipient: '{callback_url}' }\n};\n\nreturn [{ json: { videoId, zapcapBody: JSON.stringify(body) } }];"
      },
      "id": "sr-build-zapcap-body",
      "name": "Build ZapCap body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4032, 512]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.retryable }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true },
              "id": "condition-retry-zc"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "retry-zc-sr-if",
      "name": "Reintentar ZapCap",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [4928, 512]
    },
    {
      "parameters": {
        "resume": "timeDelay"
      },
      "id": "retry-zc-sr-wait",
      "name": "Wait retry ZapCap",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [5152, 704],
      "webhookId": "retry-zc-reel-001"
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger": {
      "main": [[{ "node": "Check saldo Kie.ai", "type": "main", "index": 0 }]]
    },
    "Check saldo Kie.ai": {
      "main": [[{ "node": "¿Saldo suficiente?", "type": "main", "index": 0 }]]
    },
    "¿Saldo suficiente?": {
      "main": [
        [{ "node": "Preparar prompts", "type": "main", "index": 0 }],
        [{ "node": "Marcar saldo insuficiente", "type": "main", "index": 0 }]
      ]
    },
    "Preparar prompts": {
      "main": [[{ "node": "1. IA: guion del reel", "type": "main", "index": 0 }]]
    },
    "1. IA: guion del reel": {
      "main": [[{ "node": "2. Parsear clips", "type": "main", "index": 0 }]]
    },
    "2. Parsear clips": {
      "main": [[{ "node": "3. Loop por clip", "type": "main", "index": 0 }]]
    },
    "3. Loop por clip": {
      "main": [
        [{ "node": "17. Juntar clips mergeados", "type": "main", "index": 0 }],
        [{ "node": "4. Crear escena en Supabase", "type": "main", "index": 0 }]
      ]
    },
    "4. Crear escena en Supabase": {
      "main": [[{ "node": "Extraer ID escena", "type": "main", "index": 0 }]]
    },
    "Extraer ID escena": {
      "main": [[{ "node": "Build Veo body", "type": "main", "index": 0 }]]
    },
    "Build Veo body": {
      "main": [[{ "node": "5. Kie.ai Veo 3.1 (video)", "type": "main", "index": 0 }]]
    },
    "5. Kie.ai Veo 3.1 (video)": {
      "main": [[{ "node": "6. Wait video callback", "type": "main", "index": 0 }]]
    },
    "6. Wait video callback": {
      "main": [[{ "node": "7. Procesar video URL", "type": "main", "index": 0 }]]
    },
    "7. Procesar video URL": {
      "main": [[{ "node": "Reintentar Video", "type": "main", "index": 0 }]]
    },
    "Reintentar Video": {
      "main": [
        [{ "node": "Wait retry Video", "type": "main", "index": 0 }],
        [{ "node": "8. Guardar video en escena", "type": "main", "index": 0 }]
      ]
    },
    "Wait retry Video": {
      "main": [[{ "node": "Build Veo body", "type": "main", "index": 0 }]]
    },
    "8. Guardar video en escena": {
      "main": [[{ "node": "9. ¿Video OK?", "type": "main", "index": 0 }]]
    },
    "9. ¿Video OK?": {
      "main": [
        [{ "node": "10. Build TTS body", "type": "main", "index": 0 }],
        [{ "node": "Error: preparar", "type": "main", "index": 0 }]
      ]
    },
    "10. Build TTS body": {
      "main": [[{ "node": "11. Kie.ai ElevenLabs TTS", "type": "main", "index": 0 }]]
    },
    "11. Kie.ai ElevenLabs TTS": {
      "main": [[{ "node": "12. Wait audio callback", "type": "main", "index": 0 }]]
    },
    "12. Wait audio callback": {
      "main": [[{ "node": "10c. Extraer URL audio", "type": "main", "index": 0 }]]
    },
    "10c. Extraer URL audio": {
      "main": [[{ "node": "13. Guardar audio en escena", "type": "main", "index": 0 }]]
    },
    "13. Guardar audio en escena": {
      "main": [[{ "node": "14. FFmpeg merge (video+voz)", "type": "main", "index": 0 }]]
    },
    "14. FFmpeg merge (video+voz)": {
      "main": [[{ "node": "15. Procesar merge", "type": "main", "index": 0 }]]
    },
    "15. Procesar merge": {
      "main": [[{ "node": "16. Guardar clip mergeado", "type": "main", "index": 0 }]]
    },
    "16. Guardar clip mergeado": {
      "main": [[{ "node": "3. Loop por clip", "type": "main", "index": 0 }]]
    },
    "17. Juntar clips mergeados": {
      "main": [[{ "node": "18. FFmpeg concat (todos clips)", "type": "main", "index": 0 }]]
    },
    "18. FFmpeg concat (todos clips)": {
      "main": [[{ "node": "19. Preparar reel final", "type": "main", "index": 0 }]]
    },
    "19. Preparar reel final": {
      "main": [[{ "node": "20. Guardar reel SIN subs", "type": "main", "index": 0 }]]
    },
    "20. Guardar reel SIN subs": {
      "main": [[{ "node": "21. ZapCap upload", "type": "main", "index": 0 }]]
    },
    "21. ZapCap upload": {
      "main": [[{ "node": "Build ZapCap body", "type": "main", "index": 0 }]]
    },
    "Build ZapCap body": {
      "main": [[{ "node": "22. ZapCap task (Hormozi 4)", "type": "main", "index": 0 }]]
    },
    "22. ZapCap task (Hormozi 4)": {
      "main": [[{ "node": "23. Wait ZapCap callback", "type": "main", "index": 0 }]]
    },
    "23. Wait ZapCap callback": {
      "main": [[{ "node": "24. Procesar ZapCap callback", "type": "main", "index": 0 }]]
    },
    "24. Procesar ZapCap callback": {
      "main": [[{ "node": "Reintentar ZapCap", "type": "main", "index": 0 }]]
    },
    "Reintentar ZapCap": {
      "main": [
        [{ "node": "Wait retry ZapCap", "type": "main", "index": 0 }],
        [{ "node": "25. Guardar reel CON subs", "type": "main", "index": 0 }]
      ]
    },
    "Wait retry ZapCap": {
      "main": [[{ "node": "Build ZapCap body", "type": "main", "index": 0 }]]
    },
    "25. Guardar reel CON subs": {
      "main": [[{ "node": "Callback Dopla (final)", "type": "main", "index": 0 }]]
    },
    "Error: preparar": {
      "main": [[{ "node": "Error: marcar padre", "type": "main", "index": 0 }]]
    },
    "Error: marcar padre": {
      "main": [[{ "node": "Callback Dopla (error clip)", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "dopla-reel-v1",
  "meta": { "instanceId": "dopla" },
  "id": "MVIwuJm3wqCqYZlN",
  "tags": ["dopla"]
}
