workflows/dopla-base/sub-static-post.json
{
  "name": "MBM - Generar Post Estatico — Dopla",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 384],
      "id": "sp-001",
      "name": "Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'openai/gpt-4.1-mini',\n  response_format: { type: 'json_object' },\n  messages: [\n    { role: 'system', content: $json.systemPrompt || '' },\n    { role: 'user', content: $json.userPrompt || '' }\n  ]\n}) }}",
        "options": { "timeout": 60000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [672, 384],
      "id": "sp-002",
      "name": "1. IA: estructura visual",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_OPENROUTER_CRED_ID",
          "name": "YOUR_OPENROUTER_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiRaw = $input.first().json;\nconst trigger = $('Trigger').first().json;\nconst recordId = trigger.contentId || trigger.id || '';\nconst handleIg = trigger.brand?.handle_ig || 'marca';\n\nlet title = '';\nlet body_text = '';\nlet image_prompt = '';\n\ntry {\n  const content = aiRaw.choices?.[0]?.message?.content || '{}';\n  const parsed = JSON.parse(content);\n  title = parsed.title || '';\n  body_text = parsed.body_text || '';\n  image_prompt = parsed.image_prompt || '';\n} catch (e) {\n  title = 'Error al parsear';\n  image_prompt = '';\n}\n\nreturn [{\n  json: {\n    recordId,\n    tenantId: trigger.tenantId || null,\n    title,\n    body_text,\n    footer: `@${handleIg}`,\n    image_prompt\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [896, 384],
      "id": "sp-003",
      "name": "2. Parsear estructura"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_SUPABASE_PROJECT_REF.supabase.co/rest/v1/scenes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content_id: $json.recordId, tenant_id: $json.tenantId, scene_num: 1, type: 'post_estatico', text_main: $json.title, text_secondary: $json.body_text, visual_prompt: $json.image_prompt, estado: 'generando_imagen' }) }}",
        "options": { "timeout": 30000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 384],
      "id": "sp-004",
      "name": "3. Crear escena en Supabase",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_SUPABASE_CRED_ID",
          "name": "YOUR_SUPABASE_CREDENTIAL_NAME"
        }
      },
      "notes": "POST /rest/v1/scenes — reemplaza Airtable Escenas."
    },
    {
      "parameters": {
        "jsCode": "// Extraer id de la escena creada (Supabase devuelve array)\nconst raw = $input.first().json;\nconst scene = Array.isArray(raw) ? raw[0] : raw;\nconst postData = $('2. Parsear estructura').first().json;\nreturn [{ json: { ...postData, sceneId: scene.id } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1344, 384],
      "id": "sp-extract-scene-id",
      "name": "Extraer ID escena"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.endpoint }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.bodyWithCallback.replace('{callback_url}', $execution.resumeUrl) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1568, 304],
      "id": "sp-005",
      "name": "4. Kie.ai Nano Banana Pro",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_KIE_AI_CRED_ID",
          "name": "YOUR_KIE_AI_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1792, 304],
      "id": "sp-006",
      "name": "5. Wait callback",
      "webhookId": "ac389924-439a-4941-891b-4d05480300ca"
    },
    {
      "parameters": {
        "jsCode": "const callback = $input.first().json;\nconst sceneData = $('Extraer ID escena').first().json;\nconst escenaId = sceneData.sceneId;\n\nlet imageUrl = '';\nlet estado = 'Listo';\nlet errorMsg = '';\n\nconst apiMsg = callback.msg || callback.body?.msg || '';\nconst apiCode = callback.body?.code || callback.code;\n\nlet imageRetryCount = 0;\ntry {\n  const prev = $('6. Procesar resultado').first().json;\n  if (prev.retryable) { imageRetryCount = prev.imageRetryCount || 0; }\n} catch (e) {}\n\nconst retryableCodes = [500, 501, 502, 503];\nconst retryableMessages = ['internal error', 'try again', 'server busy', 'temporarily unavailable'];\nconst isRetryable = (apiCode && retryableCodes.includes(apiCode)) || retryableMessages.some(m => apiMsg.toLowerCase().includes(m));\n\nif (isRetryable && imageRetryCount < 3) {\n  return [{ json: { escenaId, imageUrl: '', estado: 'Reintentando', errorMsg: 'Retry ' + (imageRetryCount + 1) + '/3: code=' + (apiCode || '') + ' ' + apiMsg, retryable: true, imageRetryCount: imageRetryCount + 1, recordId: sceneData.recordId, tenantId: sceneData.tenantId } }];\n}\n\nif (apiMsg && (apiMsg.toLowerCase().includes('credit') || apiMsg.toLowerCase().includes('fail'))) {\n  return [{ json: { escenaId, imageUrl: '', estado: 'Error', errorMsg: apiMsg, retryable: false, recordId: sceneData.recordId, tenantId: sceneData.tenantId } }];\n}\n\ntry {\n  const resultJson = JSON.parse(callback.body.data.resultJson);\n  imageUrl = resultJson.resultUrls?.[0] || '';\n} catch (e) {\n  estado = 'Error';\n  errorMsg = 'Failed to parse: ' + e.message;\n}\n\nif (!imageUrl && estado !== 'Error') {\n  estado = 'Error';\n  errorMsg = 'No image URL';\n}\n\nreturn [{ json: { escenaId, imageUrl, estado, errorMsg, retryable: false, recordId: sceneData.recordId, tenantId: sceneData.tenantId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2016, 304],
      "id": "sp-007",
      "name": "6. Procesar resultado"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://YOUR_SUPABASE_PROJECT_REF.supabase.co/rest/v1/scenes?id=eq.{{ $json.escenaId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ image_url: $json.imageUrl, media_final: $json.imageUrl || null, estado: $json.estado, error_message: $json.errorMsg || null }) }}",
        "options": { "timeout": 30000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2912, 256],
      "id": "sp-008",
      "name": "7. Guardar imagen en escena",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_SUPABASE_CRED_ID",
          "name": "YOUR_SUPABASE_CREDENTIAL_NAME"
        }
      },
      "notes": "PATCH /rest/v1/scenes?id=eq.{uuid} — reemplaza Airtable update escena."
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://YOUR_SUPABASE_PROJECT_REF.supabase.co/rest/v1/content?id=eq.{{ $('Trigger').first().json.contentId || $('Trigger').first().json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ estado: 'ready', media_final: $('6. Procesar resultado').first().json.imageUrl || null }) }}",
        "options": { "timeout": 30000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3360, 160],
      "id": "sp-009",
      "name": "9. Marcar padre como Listo",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_SUPABASE_CRED_ID",
          "name": "YOUR_SUPABASE_CREDENTIAL_NAME"
        }
      },
      "notes": "PATCH /rest/v1/content — estado=ready + media_final con URL imagen."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "chk",
              "leftValue": "={{ $('6. Procesar resultado').first().json.estado }}",
              "rightValue": "Error",
              "operator": {
                "type": "string",
                "operation": "notEquals",
                "name": "filter.operator.notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [3136, 256],
      "id": "sp-error-if",
      "name": "8. ¿Sin error?"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://YOUR_SUPABASE_PROJECT_REF.supabase.co/rest/v1/content?id=eq.{{ $('Trigger').first().json.contentId || $('Trigger').first().json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ estado: 'error', error_message: $('6. Procesar resultado').first().json.errorMsg }) }}",
        "options": { "timeout": 30000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3360, 352],
      "id": "sp-error-padre",
      "name": "Error: marcar padre",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_SUPABASE_CRED_ID",
          "name": "YOUR_SUPABASE_CREDENTIAL_NAME"
        }
      },
      "notes": "PATCH /rest/v1/content — estado=error + error_message."
    },
    {
      "parameters": {
        "jsCode": "// Configuración hardcoded del modelo Kie.ai (no hay tabla en Supabase todavía)\nconst endpoint = 'https://api.kie.ai/api/v1/jobs/createTask';\nconst bodyTemplate = JSON.stringify({\n  type: 'img2img',\n  model: 'nano-banana-pro',\n  prompt: '{prompt}',\n  aspect_ratio: '{aspect_ratio}',\n  callback_url: '{callback_url}'\n});\nreturn [{ json: { endpoint, bodyTemplate } }];"
      },
      "id": "sp-fetch-modelo",
      "name": "Fetch modelo imagen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [224, 384],
      "notes": "Reemplaza Airtable tbltpXIjQ1iDJnGox. Hardcoded. Ajusta si cambia modelo."
    },
    {
      "parameters": {
        "jsCode": "const modelo = $('Fetch modelo imagen').first().json;\nconst bodyTemplate = modelo['bodyTemplate'] || '';\nconst endpoint = modelo.endpoint || 'https://api.kie.ai/api/v1/jobs/createTask';\nconst prompt = $('Extraer ID escena').first().json.image_prompt || '';\nconst aspectRatio = '1:1';\n\nconst escapedPrompt = JSON.stringify(prompt).slice(1, -1);\nconst body = bodyTemplate\n  .replace(/\\{prompt\\}/g, escapedPrompt)\n  .replace(/\\{aspect_ratio\\}/g, aspectRatio);\n\nreturn [{ json: { endpoint, bodyWithCallback: body } }];"
      },
      "id": "sp-build-body",
      "name": "Build Kie body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1344, 384]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.retryable }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true },
              "id": "condition-1776876072564-xvdchnh4v"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "retry-img-post-if",
      "name": "Reintentar Imagen",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2240, 304]
    },
    {
      "parameters": {
        "resume": "timeDelay"
      },
      "id": "retry-img-post-wait",
      "name": "Wait retry Imagen",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2464, 480],
      "webhookId": "94f02db5-1ced-4d46-aeb7-26a2c78fa367"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ffmpeg-merger:8000/watermark-image",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ media_url: $json.imageUrl, logo_url: $('Trigger').first().json.brand?.logo_url || '', opacity: 0.35, position: 'bottom_right', logo_scale: 0.12, padding: 40, folder: 'mbm-reels' }) }}",
        "options": { "timeout": 60000 }
      },
      "id": "wm-sp-http",
      "name": "Watermark imagen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2464, 256],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const original = $('6. Procesar resultado').first().json;\nconst wm = $input.first().json;\nconst imageUrl = (wm.success && wm.url) ? wm.url : (original.imageUrl || '');\nreturn [{ json: {\n  escenaId: original.escenaId,\n  imageUrl,\n  estado: original.estado,\n  errorMsg: original.errorMsg || '',\n  recordId: original.recordId,\n  tenantId: original.tenantId\n} }];"
      },
      "id": "wm-sp-merge",
      "name": "Merge watermark",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2688, 256]
    },
    {
      "parameters": {
        "jsCode": "const brand = $('Trigger').first().json.brand || {};\nconst style = $('Trigger').first().json.style_prompts || {};\nconst trigger = $('Trigger').first().json;\n\nlet systemPrompt = style.prompt_sistema || '';\nsystemPrompt = systemPrompt\n  .replace(/{brand_name}/g, brand.nombre || '')\n  .replace(/{handle_ig}/g, brand.handle_ig || '')\n  .replace(/{tono}/g, brand.tono || '')\n  .replace(/{audiencia}/g, brand.audiencia || '')\n  .replace(/{colores}/g, brand.colores || '')\n  .replace(/{estilo_visual}/g, brand.estilo_visual || '')\n  .replace(/{reglas_lenguaje}/g, brand.reglas_lenguaje || '');\n\nif (!systemPrompt) {\n  systemPrompt = `Eres un Art Director de ${brand.nombre || 'la marca'}. Genera posts estaticos de Instagram. Colores: ${brand.colores}. IDIOMA: textos en ESPANOL, image_prompt en ingles. SIEMPRE responde en JSON valido.`;\n}\n\nlet userPrompt = style.prompt_usuario || '';\nuserPrompt = userPrompt\n  .replace(/{mi_hook}/g, trigger.mi_hook || '')\n  .replace(/{mi_caption}/g, trigger.mi_caption || '')\n  .replace(/{analisis}/g, trigger.analisis || '')\n  .replace(/{brand_name}/g, brand.nombre || '')\n  .replace(/{handle_ig}/g, brand.handle_ig || '')\n  .replace(/{colores}/g, brand.colores || '');\n\nif (!userPrompt) {\n  userPrompt = `Genera 1 post estatico de Instagram.\\nHOOK: ${trigger.mi_hook || ''}\\nCAPTION: ${trigger.mi_caption || ''}\\nCONTEXTO: ${trigger.analisis || ''}\\n\\nJSON con title, body_text, footer (@${brand.handle_ig || 'marca'}), image_prompt.`;\n}\n\nreturn [{ json: { ...trigger, systemPrompt, userPrompt } }];"
      },
      "id": "prep-prompts-sp",
      "name": "Preparar prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [448, 384]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_SAAS_URL/api/n8n/callback",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tenantId: $('Trigger').first().json.tenantId, contentId: $('Trigger').first().json.contentId || $('Trigger').first().json.id, status: 'ready', mediaUrl: $('6. Procesar resultado').first().json.imageUrl }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-dopla-signature",
              "value": "={{ (() => { const crypto = require('crypto'); const body = JSON.stringify({ tenantId: $('Trigger').first().json.tenantId, contentId: $('Trigger').first().json.contentId || $('Trigger').first().json.id, status: 'ready', mediaUrl: $('6. Procesar resultado').first().json.imageUrl }); return crypto.createHmac('sha256', 'dopla-n8n-secret-2026').update(body).digest('hex'); })() }}"
            }
          ]
        },
        "options": { "timeout": 15000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3584, 160],
      "id": "sp-callback-ready",
      "name": "Callback Dopla (ready)",
      "continueOnFail": true,
      "notes": "POST YOUR_SAAS_URL/api/n8n/callback con HMAC. status=ready + mediaUrl."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_SAAS_URL/api/n8n/callback",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tenantId: $('Trigger').first().json.tenantId, contentId: $('Trigger').first().json.contentId || $('Trigger').first().json.id, status: 'error', errorMessage: $('6. Procesar resultado').first().json.errorMsg }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-dopla-signature",
              "value": "={{ (() => { const crypto = require('crypto'); const body = JSON.stringify({ tenantId: $('Trigger').first().json.tenantId, contentId: $('Trigger').first().json.contentId || $('Trigger').first().json.id, status: 'error', errorMessage: $('6. Procesar resultado').first().json.errorMsg }); return crypto.createHmac('sha256', 'dopla-n8n-secret-2026').update(body).digest('hex'); })() }}"
            }
          ]
        },
        "options": { "timeout": 15000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3584, 352],
      "id": "sp-callback-error",
      "name": "Callback Dopla (error)",
      "continueOnFail": true,
      "notes": "POST YOUR_SAAS_URL/api/n8n/callback con HMAC. status=error."
    }
  ],
  "pinData": {},
  "connections": {
    "1. IA: estructura visual": {
      "main": [[{ "node": "2. Parsear estructura", "type": "main", "index": 0 }]]
    },
    "2. Parsear estructura": {
      "main": [[{ "node": "3. Crear escena en Supabase", "type": "main", "index": 0 }]]
    },
    "3. Crear escena en Supabase": {
      "main": [[{ "node": "Extraer ID escena", "type": "main", "index": 0 }]]
    },
    "Extraer ID escena": {
      "main": [[{ "node": "Build Kie body", "type": "main", "index": 0 }]]
    },
    "4. Kie.ai Nano Banana Pro": {
      "main": [[{ "node": "5. Wait callback", "type": "main", "index": 0 }]]
    },
    "5. Wait callback": {
      "main": [[{ "node": "6. Procesar resultado", "type": "main", "index": 0 }]]
    },
    "7. Guardar imagen en escena": {
      "main": [[{ "node": "8. ¿Sin error?", "type": "main", "index": 0 }]]
    },
    "8. ¿Sin error?": {
      "main": [
        [{ "node": "9. Marcar padre como Listo", "type": "main", "index": 0 }],
        [{ "node": "Error: marcar padre", "type": "main", "index": 0 }]
      ]
    },
    "9. Marcar padre como Listo": {
      "main": [[{ "node": "Callback Dopla (ready)", "type": "main", "index": 0 }]]
    },
    "Error: marcar padre": {
      "main": [[{ "node": "Callback Dopla (error)", "type": "main", "index": 0 }]]
    },
    "Trigger": {
      "main": [[{ "node": "Fetch modelo imagen", "type": "main", "index": 0 }]]
    },
    "Build Kie body": {
      "main": [[{ "node": "4. Kie.ai Nano Banana Pro", "type": "main", "index": 0 }]]
    },
    "6. Procesar resultado": {
      "main": [[{ "node": "Reintentar Imagen", "type": "main", "index": 0 }]]
    },
    "Reintentar Imagen": {
      "main": [
        [{ "node": "Wait retry Imagen", "type": "main", "index": 0 }],
        [{ "node": "Watermark imagen", "type": "main", "index": 0 }]
      ]
    },
    "Wait retry Imagen": {
      "main": [[{ "node": "Build Kie body", "type": "main", "index": 0 }]]
    },
    "Watermark imagen": {
      "main": [[{ "node": "Merge watermark", "type": "main", "index": 0 }]]
    },
    "Merge watermark": {
      "main": [[{ "node": "7. Guardar imagen en escena", "type": "main", "index": 0 }]]
    },
    "Fetch modelo imagen": {
      "main": [[{ "node": "Preparar prompts", "type": "main", "index": 0 }]]
    },
    "Preparar prompts": {
      "main": [[{ "node": "1. IA: estructura visual", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "dopla-post-estatico-v1",
  "meta": { "instanceId": "dopla" },
  "id": "sGUcF53rSWdkv1of",
  "tags": ["dopla"]
}
